.leftSidebar {
  position: sticky;
  top: 60px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0.25;
  align-items: flex-start;
  /* padding-left: 10px; */
  margin-right: 20px;
  margin-left: 20px;
  width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hrbar {
  margin-top: 15px;
  border: 0;
  height: 1px;
  background-color: rgb(185, 185, 185);
  width: 100%;
}

.addtional__info {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  color: black;
  opacity: 50%;
  margin-right: 30px;
}

.leftSidebar__shortcuts {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}

.page__image {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.leftSidebar__shortcuts:hover {
  background-color: #e4e6eb;
  border-radius: 10px;
  cursor: pointer;
}

/* media queries */

@media only screen and (max-width: 1023px) {
  .leftSidebar {
    display: none;
  }
}
