.posts {
  width: 100%;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.post__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.more {
  font-size: 18px;
  font-weight: 800;
  align-items: center;
  opacity: 40%;
  padding-right: 10px;
  cursor: pointer;
}

.post__profile {
  display: flex;
  align-items: center;
}

.post_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  padding-right: 5px;
}

.post__userName {
  font-size: 16px;
  font-weight: 600;
}

.post__meta {
  align-items: center;
}

.meta {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.post__time {
  font-size: 10px;
  font-weight: 400;
  opacity: 70%;
  margin-right: 10px;
}

.meta__icon {
  font-size: 10px !important;
  font-weight: 400 !important;
  opacity: 70% !important;
  margin-top: 2px;
}

.post__body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 5px;
}

.post__image {
  width: 100%;
}
.post__text {
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 16px;
  padding-bottom: 16px;
  text-align: left;
}

.post__statistic {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post__like__count {
  display: flex;
  padding-top: -10px;
  font-size: 14px !important;
}

.post__like__count > p {
  margin-left: 5px;
}

.post__like__count:hover {
  cursor: pointer;
}

.post__like__icon {
  font-size: 18px !important;
  color: rgb(83, 83, 253) !important;
}

.post__statisticComments {
  font-size: 14px;
}

.post__actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.post__likedDiv {
  display: flex;

  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 10px;
  margin-left: 10px;
  width: 50%;
}

.post__likedDiv:hover {
  background-color: #f0f2f6;
  border-radius: 5px;
}

.post__likeButton {
  font-size: 16px !important;
  opacity: 50% !important;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
}

.post__commntButton {
  opacity: 50% !important;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
}

.post__likeText {
  font-size: 14px;
  opacity: 60%;
}

.lesspadding {
  margin: auto;
  width: 95% !important;
}
